<h1 class="text_center">Hello Surya</h1>
<h1 class="text_center">Welcome to the world of web</h1>

<!-- interpolation example -->
<!-- In interpolation we can't change the value of our variables we can simply show then -->
<p>My name = {{myName}}</p>
<p>My age = {{myAge()}}</p>

<!-- Basic commands in Angular 
npm install -g @angular/cli // command to install angular cli globally
ng new my-first-app // command to create new angular project
ng serve // command to run angular project
ng generate component my-first-component // command to create new component
ng generate directive my-first-directive // command to create new directive
ng generate pipe my-first-pipe // command to create new pipe
ng generate service my-first-service // command to create new service
ng generate class my-first-class // command to create new class
ng generate guard my-first-guard // command to create new guard
ng generate interface my-first-interface // command to create new interface
ng generate enum my-first-enum // command to create new enum
ng generate module my-first-module // command to create new module
ng generate application my-first-application // command to create new application
ng generate library my-first-library // command to create new library
ng generate component my-first-component --inline-template --inline-style // command to create new component with inline template and inline style
-->

<!-- How to use component -->
<!-- we can also change the tag we are using to access the component by changing the selector variable in .ts file of the component -->
<app-my-first-component></app-my-first-component>


<!-- Inline style component -->
<!-- Here tag is changed to inline-style -->
<!-- we can also do same with inline-templete -->
<inline-style></inline-style>

<!-- When we create module we have to add that module in our import file and we have to import module for use  -->
<!-- if we want to use module A in Module B then we have to import module A in B and also we have to add in imports-->
<!-- now for using that module componts we have to export that module so we will add an export option -->
<app-component-inside-module></app-component-inside-module>

<!-- This button will call a function and show my name -->
<!-- passing variable to function which is defined -->
<button (click)="showMyName(myName)">Show my name</button>
<br><br>
<!-- events in angular  -->
<input type="text" #input_field1 (blur)="getInputFieldValue(input_field1.value)" placeholder="onblur">
<br><br>
<input type="text" #input_field2 (keyup)="getInputFieldValue(input_field2.value)" placeholder="on keyup">
<br><br>
<input type="text" #input_field3 (keydown)="getInputFieldValue(input_field3.value)" placeholder="on keydown">
<br><br>
<input type="text" #input_field4 (input)="getInputFieldValue(input_field4.value)" placeholder="on input">
<br><br>

<!-- we can add style to our elements using three ways  -->
<!-- 1. inline style -->
<!-- 2. component style -->
<!-- 3. global style -->    

<p class="globalStyle">This has global style class but overwritten by component style </p>

<!-- property binding -->
<!-- property binding same as interpolation both get the variables dinamically but property binding also work on boolean -->

<input type="text" style="width:25%" #input_field5 placeholder="i am using property binding" [disabled] = disable >
<br><br>
<input type="text" style="width:25%" #input_field5 placeholder="i am using interpolation" disabled={{disable}}>

<!-- if else in angular -->
<!-- for if we use *ngIf and for else we have to write code inside <ng-templete> tag -->
<!-- we can also use then and else in if else -->

<h1 *ngIf="show=='yes'; then ifBlock else elseBlock1"></h1>
<ng-template #ifBlock>
    <p>it is if block and value of show is yes</p>
</ng-template>
<ng-template #elseBlock1>
    <p>it is else block and value of show is not yes</p>
</ng-template>

<!-- another way to write if else condition -->
<p *ngIf="show=='yes'; else elseBlock2">It is if block and we are using the another method to apply else if </p>
<ng-template #elseBlock2>
    <p>it is else block and value of show is not yes and we are using different method to use if else </p>
</ng-template>

<!-- else if -->
<!-- for else if we have to use property binding and we use <ng-template> tag -->
<ng-template [ngIf] = "color == 'red'">
    <p style="color: red;">I am red comming with else if </p>
</ng-template>
<ng-template [ngIf] = "color == 'green'">
    <p style="color: green;">I am green comming with else if </p>
</ng-template>
<ng-template [ngIf] = "color == 'blue'">
    <p style="color: blue;">I am blue comming with else if </p>
</ng-template>

<!-- switch in angular -->
<!-- we can use switch in angular using ngSwitch -->
<div [ngSwitch] = "color">
    <p *ngSwitchCase="'red'" style="color: red;">I am red comming with else switch </p>
    <p *ngSwitchCase="'green'" style="color: green;">I am green comming with switch </p>
    <p *ngSwitchCase="'blue'" style="color: blue;">I am blue comming with switch</p>
    <p *ngSwitchDefault="" style="color: pink;">I am default colour  with switch</p>
</div>



